<!-- ko if: isShown -->
<li id="step-shipping-address" class="aw-onestep-groups_item shipping" data-bind="css: {active: isCustomerLoggedIn()}">

    <div class="group-title">
        <h2>
            <span class="mark"></span><span class="js-shipping-step-title" data-bind="i18n: 'Shipping'"></span>
            <a class="checkout-edit-step" href="javascript:void(0);" data-bind="mageInit: {'js/editstep': {}}">Edit</a>
            <a class="checkout-edit-step-cancel" href="javascript:void(0);" data-bind="mageInit: {'js/editstep': {}}">Cancel</a>
        </h2>
    </div>
    <div class="group-content">
        <div class="onestep-shipping-address">
            <!-- ko ifnot: isFormInline -->
            <div class="new-shipping-address-form"
                 data-role='new-shipping-address-form'
                 data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': false}}">
                <div class="title" data-role="title" data-bind="visible: showNewAddressFormHeader()">
                    <strong role="heading">
                        <span data-bind="i18n: 'Add new address'"></span>
                    </strong>
                </div>
                <div class="content" data-role="content">
                    <!-- ko template: 'Aheadworks_OneStepCheckout/shipping-address/form' --><!-- /ko -->
                    <div class="action-toolbar">
                        <button class="action inactive primary" data-bind="mageInit: {'js/saveNewShippingBtnValidation': {}}, click: onSaveNewAddressClick">
                            <span data-bind="i18n: 'Save'"></span>
                        </button>
                        <button class="action hide" data-bind="click: onCancelClick">
                            <span data-bind="i18n: 'Cancel'"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--/ko-->

            <!-- ko foreach: getRegion('shipping-address-list') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko foreach: getRegion('amazon-widget-address') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko if: showForm -->
            <!-- ko template: 'Aheadworks_OneStepCheckout/shipping-address/form' --><!-- /ko -->
            <!-- /ko -->
        </div>

        <!-- ko foreach: getRegion('gift-message-fieldset') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="steps"><a class="checkout-next-step inactive" href="javascript:void(0);" data-bind="mageInit: {'js/nextstep': {}}">Next</a></div>
    </div>
</li>
<!-- /ko -->
