<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<shipping>
			<alternative_origin>
				<enabled/>
				<country_id/>
				<region_id/>
				<postcode/>
				<city/>
				<street_line1/>
				<street_line2/>
				<upload/>
			</alternative_origin>
		</shipping>
	</default>
</config>
