<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Vonnda\AlternativeOrigin\Api\AlternativeShippingOriginZonesRepositoryInterface" type="Vonnda\AlternativeOrigin\Model\AlternativeShippingOriginZonesRepository"/>
	<preference for="Vonnda\AlternativeOrigin\Api\Data\AlternativeShippingOriginZonesInterface" type="Vonnda\AlternativeOrigin\Model\Data\AlternativeShippingOriginZones"/>
	<preference for="Vonnda\AlternativeOrigin\Api\Data\AlternativeShippingOriginZonesSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Magento\Shipping\Model\Shipping" type="Vonnda\AlternativeOrigin\Model\Shipping" />
	<preference for="Magento\Fedex\Model\Carrier" type="Vonnda\AlternativeOrigin\Model\Carrier" />
</config>
