<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Grazitti. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="maginate" frontName="maginate">
            <module name="Grazitti_Maginate" />
        </route>
    </router>
</config>