<!-- ko ifnot: window.checkoutConfig.quoteData.gift_order === '1' -->

    <!-- ko if: (getProductSku($parents[1].item_id) === 'MH1_Device_US')-->
    <div class="features-line">
        <span class="features-text affirm-off">Features auto-refills</span>
        <span class="features-text affirm-on">Auto-refills inactive</span>
        <span class="features-tooltip">
            <span class="tooltip-content">
                <strong>Air: auto-refills</strong><br>
                $130/year per device<br>
                <em>Sales tax may apply.</em><br><br>

                Every 6 mos. you get:<br>
                1 PECO-Filter & 2 Pre-Filters<br><br>

                <em>Cancel auto-refills anytime in your account.</em>
            </span>
        </span>

        <span class="features-extra">
            <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
            $65 every 6 mos. per device
        </span>
    </div>
    <div class="requires-signup affirm-on">Requires sign-up after purchase</div>
    <!-- /ko -->

    <!-- ko if: (getProductSku($parents[1].item_id) === 'MH1_Device_CA')-->
    <div class="features-line">
        <span class="features-text affirm-off">Features auto-refills</span>
        <span class="features-text affirm-on">Auto-refills inactive</span>
        <span class="features-tooltip">
            <span class="tooltip-content">
                <strong>Air: auto-refills</strong><br>
                $190/year per device<br>
                <em>Sales tax may apply.</em><br><br>

                Every 6 mos. you get:<br>
                1 PECO-Filter & 2 Pre-Filters.<br><br>

                <em>Cancel auto-refills anytime in your account.</em>
            </span>
        </span>

        <span class="features-extra">
            <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
            $95 every 6 mos. per device
        </span>
    </div>
    <div class="requires-signup affirm-on">Requires sign-up after purchase</div>
    <!-- /ko -->

    <!-- ko if: (getProductSku($parents[1].item_id) === 'MinimoB_US')-->
    <div class="features-line">
        <span class="features-text affirm-off">Features auto-refills</span>
        <span class="features-text affirm-on">Auto-refills inactive</span>
        <span class="features-tooltip">
            <span class="tooltip-content">
                <strong>Mini: auto-refills</strong><br>
                $99/year per device<br>
                <em>Sales tax may apply.</em><br><br>

                Once a year you get:<br>
                2 PECO-Filters<br><br>

                <em>Cancel auto-refills anytime in your account.</em>
            </span>
        </span>
        <span class="features-extra">
            <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
            $99 every year per device
        </span>
    </div>
    <div class="requires-signup affirm-on">Requires sign-up after purchase</div>
    <!-- /ko -->

    <!-- ko if: (getProductSku($parents[1].item_id) === 'MinimoP_US')-->
    <div class="features-line">
        <span class="features-text affirm-off">Features auto-refills</span>
        <span class="features-text affirm-on">Auto-refills inactive</span>
        <span class="features-tooltip">
            <span class="tooltip-content">
                <strong>Mini+: auto-refills</strong><br>
                $99/year per device<br>
                <em>Sales tax may apply.</em><br><br>

                Once a year you get:<br>
                2 PECO-Filters<br><br>

                <em>Cancel auto-refills anytime in your account.</em>
            </span>
        </span>
        <span class="features-extra">
            <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
            $99 every year per device
        </span>
    </div>
    <div class="requires-signup affirm-on">Requires sign-up after purchase</div>
    <!-- /ko -->

<!-- ko if: (getProductSku($parents[1].item_id) === 'MinimoP_CA')-->
<div class="features-line">
    <span class="features-text affirm-off">Features auto-refills</span>
    <span class="features-text affirm-on">Auto-refills inactive</span>
    <span class="features-tooltip">
        <span class="tooltip-content">
            <strong>Mini+: auto-refills</strong><br>
            $145/year per device<br>
            <em>Sales tax may apply.</em><br><br>

            Once a year you get:<br>
            2 PECO-Filters<br><br>

            <em>Cancel auto-refills anytime in your account.</em>
        </span>
    </span>
    <span class="features-extra">
        <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
        $145 every year per device
    </span>
</div>
<div class="requires-signup affirm-on">Requires sign-up after purchase</div>
<!-- /ko -->

<!-- ko if: (getProductSku($parents[1].item_id) === 'airpro-us')-->
<div class="features-line">
    <span class="features-text affirm-off">Features auto-refills</span>
    <span class="features-text affirm-on">Auto-refills inactive</span>
    <span class="features-tooltip">
        <span class="tooltip-content">
            <strong>Air Pro: auto-refills</strong><br>
            $198/year per device<br>
            <em>Sales tax may apply.</em><br><br>

                Every 6 mos. you get:<br>
                1 PECO-Filter<br><br>

                <em>Cancel auto-refills anytime in your account.</em>
            </span>
        </span>
        <span class="features-extra">
            <span class="next-refill" data-bind="html:getNextRefillInfo();"></span>
            $99 every 6 mos. per device
        </span>
    </div>
    <div class="requires-signup affirm-on">Requires sign-up after purchase</div>
    <!-- /ko -->

<!-- /ko -->

