<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Vonnda_CheckoutSurvey::vonnda_checkoutsurvey" module="Vonnda_CheckoutSurvey" parent="Magento_Customer::customer" resource="Magento_Customer::manage" sortOrder="9999" title="Checkout Survey Results" action="checkoutsurvey/index/index"/>
	</menu>
</config>
