<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="checkout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<group id="checkoutsurvey" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Checkout Survey</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="question" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Question</label>
					<comment/>
				</field>
				<field id="answer_options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="textarea">
					<label>Answer Options</label>
					<comment>Add a list of possible answers in a comma separated list style.</comment>
				</field>
				<field id="randomize_answer_options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Randomize Answer Options</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
