<?xml version="1.0"?>
<!--
* Created by:  Milan Simek
* Company:     Plugin Company
*
* LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
*
* YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
*
* FOR QUESTIONS AND SUPPORT
* PLEASE DON'T HESITATE TO CONTACT US AT:
*
* SUPPORT@PLUGIN.COMPANY
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="couponimport" frontName="couponimport">
            <module name="PluginCompany_CouponImport" />
        </route>
    </router>
</config>