option:empty {
    display: block;
}

.admin__field-medium.cut > .admin__field-control > .admin__control-addon  {
    max-width: calc(100% - 45px - 4px);
}

.admin__field > .admin__field-control._with-comment  {
    display: block;
}