/**
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 */
.fieldset-small legend {
    width: calc(100% - 40px)!important;
    margin-left: 20px!important;
    float: left;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #dedede!important;
    margin: 0 0 18px;

}
.fieldset-small legend span {
    font-size: 1.45rem!important;
    color: #303030;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 7px 0 10px;
    display: inline-block;
}

#coupons_information_fieldset {
    padding-top:0px;
}

.no-padding-bottom {
    padding-bottom:0px!important;
}

.pc-couponimport {
    display:none!important;
}

.pc-show-fieldset {
    display:block!important;
}
