<div class="aw-sidebar-product-card">
    <div class="aw-sidebar-product-image">
        <!-- ko foreach: getRegion('thumbnail') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="aw-sidebar-product-description-container">
        <div class="aw-sidebar-product-description">
            <div class="aw-sidebar-product">
                <div class="aw-sidebar-product-name">
                    <span data-bind="html: escape($parent.name)"></span>
                </div>
                <div class="aw-sidebar-product-subtotals">
                    <div class="aw-sidebar-product-price">
                        <!-- ko foreach: getRegion('subtotal') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko foreach: getRegion('short-description') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <div class="aw-sidebar-product-qty-total">
                    <!-- ko foreach: getRegion('qty') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>

                <!-- ko foreach: getRegion('description') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- ko foreach: getOptionsRenderer($parent) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getGiftMessageRenderer($parent) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
