<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_merge_after">
        <observer instance="Vonnda\GiftOrder\Observer\Quote" name="gift_order_quote_merge_after"/>
    </event>
</config>