<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shiprules
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Shiprules\Controller\Adminhtml\Rule\Delete">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Amasty\Shiprules\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Amasty\Shiprules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Amasty\Shiprules\Controller\Adminhtml\Rule\Duplicate">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Amasty\Shiprules\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Amasty\Shiprules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Amasty\Shiprules\Controller\Adminhtml\Rule\Edit">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Amasty\Shiprules\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Amasty\Shiprules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Amasty\Shiprules\Controller\Adminhtml\Rule\MassAction">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Amasty\Shiprules\Model\ResourceModel\Rule\Collection</argument>
            <argument name="resource" xsi:type="object">Amasty\Shiprules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Amasty\Shiprules\Controller\Adminhtml\Rule\Save">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Amasty\Shiprules\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Amasty\Shiprules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
</config>
