<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shiprules
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_Shiprules::rule"  title="Shipping Rules" module="Amasty_Shiprules" sortOrder="40" parent="Magento_Sales::sales_operation" action="amasty_shiprules/rule/" resource="Amasty_Shiprules::rule"/>
    </menu>
</config>
