<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="vonnda_checkout_cron_process_after">
        <observer name="vonnda_trigger_tealium_purchase_api_event" instance="Vonnda\TealiumTags\Observer\OrderProcess" />
    </event>
</config>