<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_rma>
            <fedex>
                <account backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <meter_number backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sandbox_mode>0</sandbox_mode>
            </fedex>
        </aw_rma>
    </default>
</config>