<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="vonnda_giftorder" frontName="vonnda_giftorder">
            <module name="Vonnda_GiftOrder"/>
        </route>
    </router>
</config>