<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Form\Account">
        <plugin name="after_order_create_comment" type="Vonnda\OrderTag\Plugin\Sales\Block\Adminhtml\Order\Create\Form\Account\OrderTagPlugin" sortOrder="10"/>
    </type>

    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="after_create_order" type="Vonnda\OrderTag\Plugin\Sales\Model\AdminOrder\Create\CreateOrderPlugin" sortOrder="10"/>
    </type>
</config>