<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shiprules
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amshiprules>
            <discount>
                <show_discount>0</show_discount>
                <old_price_style>text-decoration:line-through</old_price_style>
                <new_price_style>color:red</new_price_style>
            </discount>
        </amshiprules>
    </default>
</config>
