<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Grazitti. All rights reserved.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Grazitti_Maginate::sample" title="Grazitti Maginate" translate="title" sortOrder="79">
                    <resource id="Grazitti_Maginate::logs" title="Grazitti Maginate Logs" translate="title" sortOrder="1"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Grazitti_Maginate::config_system" title="Grazitti Maginate" sortOrder="1" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
