<!-- ko if: window.checkoutConfig.medicalflow_notice -->
<div class="medicalflow-notice" data-bind="html: window.checkoutConfig.medicalflow_notice"></div>
<!-- /ko -->
<form class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <!-- ko foreach: getRegion('shipping-address-fieldset') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <!-- ko if: isCustomerLoggedIn -->
    <div class="field choice hide">
        <input type="checkbox"
               class="checkbox"
               id="shipping-save-in-address-book"
               data-bind="checked: saveInAddressBook"
        />
        <label class="label" for="shipping-save-in-address-book">
            <span data-bind="i18n: 'Save in address book'"></span>
        </label>
    </div>
    <!-- /ko -->
</form>
