<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ordertag_listing_data_source" xsi:type="string">Voonda\OrderTag\Model\ResourceModel\OrderTag\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Voonda\OrderTag\Model\ResourceModel\OrderTag\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_tags</argument>
            <argument name="resourceModel" xsi:type="string">Vonnda\OrderTag\Model\ResourceModel\OrderTag\Collection</argument>
        </arguments>
    </virtualType>
</config>
