<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before">
        <observer instance="MLK\Core\Observer\Frontend\Layout\LoadBefore" name="mlk_core_observer_frontend_layout_loadbefore_layout_load_before"/>
    </event>
</config>